{% extends "inventaire/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<!-- Barre de recherche + bouton d'ajout de composant -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
            <div class="row">
                <div class="mb-3 col-md-9">
                    <div class="input-group">
                        <input class="form-control" type="text" id="searchbar" aria-describedby="searchbarbutton"></input>
                        <button type="button" class="btn btn-primary" id="searchbarbutton" type="button"><i class="fas fa-search"></i> Rechercher</button>
                    </div>
                </div>
                <div class="mb-3 col-md-3">
                    <button type="button" class="btn btn-success"  id="addnewbutton" type="button" style="width:100%"><i class="fas fa-plus"></i></button>
                </div>
            </div></div>
            <!--<div class="card-body">

            </div>-->
        </div>
    </div>


    <!-- Liste des composants -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Fournisseurs</h4>
            </div>
            <div class="card-body" id="supplierstable">
                {{ ListSuppliers }}
            </div>
        </div>
    </div>


    <!-- Formulaire d'ajout/Modification -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Modifier/Ajouter</h4>
            </div>
            <div class="card-body" id="supplier">
                <div class="alert alert-primary" role="alert">
                    En attente de sélection d'un fournisseur ou d'appui sur le bouton de création.
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/suppliers.js' %}"></script>
{% endblock %}







































