<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th style="display: none;">id</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Id carte</th>
        </tr>
    </thead>
    <tbody>
        {% for item in ListUsers %}
        <tr id="tablerow{{ item.pk }}" aria-id="{{ item.pk }}" class="tr-table">
            <td style="display: none;">{{ item.pk }}</td>
            <td>{{ item.first_name }}</td>
            <td>{{ item.last_name }}</td>
            <td>{{ item.cardid }}</td>
        </tr>
        {% endfor %}
    <tbody>
</table>

<nav><ul class="pagination">
    <li class="page-item {% if page.previous == page.current %}disabled{% endif %}">
        <a class="page-link" href="{% url 'users' %}list/{{ page.previous }}">Précédent</a>
    </li>
    <li class="page-item">
        <a class="page-link" {% if page.previous == page.current %}style="display:none" {% endif %}href="{% url 'users' 1 %}">1</a>
    </li>

    {% if page.previous != 1 and page.previous != 2 %}
    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
    {% endif %}

    <li class="page-item active"><a class="page-link" href="#">{{ page.current }}</a></li>

    {% if page.next != page.max and page.next != page.maxm1 %}
    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
    {% endif %}

    {% if page.max > page.current %}
    <li class="page-item"><a class="page-link" href="{% url 'users' %}list/{{ page.max }}">{{ page.max }}</a></li>
    {% endif %}


    <li class="page-item {% if page.next == page.current %}disabled{% endif %}"><a class="page-link" href="{% url 'users' %}list/{{ page.next }}">Suivant</a></li>
</ul></nav>
